* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrap {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background-image: url(../img/ll_background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    text-align: center;
}
.wrap .logo_title {
    font-size: 50px;
    font-weight: bold;
    color: #FFD24C;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
    cursor: pointer;
    text-decoration: none;
}
.form-wrap {
    width: 380px;
    height: 480px;
    position: relative; 
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-wrap {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
    text-align: center;
}
.togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    /* margin-left: 50%; */
    position: absolute;
    width: 110px;
    height: 100%;
    /* background: linear-gradient(to right, #ff105f, #ffad06); */
    background-color: #FFD24C;
    border-radius: 30px;
    transition: .5s;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons img {
    width: 30px ;
    cursor: pointer;
}
.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    text-align: center;
}
.input_login {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* background: linear-gradient(to right, #ff105f, #ffad06); */
    background-color: #FFD24C;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkbox {
    margin: 30px 10px 30px 0;
}
span {
    margin: 30px 0 30px 0;
    color: #777;
    font-size: 12px;
    bottom: 68px;
    /* position: absolute; */
}
.login_menu {
    margin: 0 20px;
    color: #777;
    font-size: 12px;
    text-decoration: none;
    /* bottom: 68px; */
    /* position: absolute; */
}
#form {
    left: 50px;
}
