* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

.wrap {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.wrap .logo_title {
    font-size: 50px;
    font-weight: bold;
    color: #FFD24C;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
    cursor: pointer;
    text-decoration: none;
}
ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#terms_div_first {
    width: 460px;
    margin: 4% auto;
    position: relative;
    overflow: hidden;
}
.join_box {
    border: 1px solid #ddd;
    background-color: #fff;
}
.checkBox,.checkBox .clearfix{
    position: relative;
}
.checkBox .clearfix {
    display: flex;
}
.checkBox .clearfix .clearfix_title {
    width: 85%;
    padding: 15px;
    font-weight: 600;
    color: #888;
}
.checkBox .clearfix .checkBtn {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -12px;
}

.checkBox>ul>li:first-child {
    width: 85%;
    padding: 15px;
    font-weight: 600;
    color: #888;
}
.checkBox>ul>li:nth-child(2) {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -12px;
}

.checkBox .textarea {
    width: 96%;
    height: 150px;
    margin: 0 2%;
    padding: 0 8px;
    background-color: #f7f7f7;
    color: #888;
    border: none;
    overflow: auto;
}

.checkBox .textarea .article_title {
    padding: 8px 0;
	font-weight: 700;
	line-height: 16px;
    /* margin-left: 45%; */
}

.footBtwrap {
    margin-top: 15px;
    border: none;
}
.footBtwrap .footBtwrap_btn {
    float: left;
    width: 50%;
    height: 60px;
}
.footBtwrap .footBtwrap_btn button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border: none;
}
.terms_btn_default_1 {
    background-color: #fff;
    color:#888
}
.terms_btn_default {
    background-color: #FFD24C;
    color: #000
}

.terms_btn_default_1:hover {
    background-color: #ccc;
    color:#888
}

.terms_btn_default:hover {
    background-color: #cca83d;
    color: #000
}
