@charset "UTF-8";

body {
	background-color: #fff;
	text-align: center;
	
}


.input_login{
	border: 1px solid #c6c6c6;
	border-radius: 5px;	
	width: 200px;
	height: 30px;
	box-shadow: 0 5px 8px 0 rgb(68 68 68 / 4%);
}


.login_menu{
	margin-right: 3px;
	font-size: 14px;
    line-height: 17px;
    text-decoration: none;
	color: #888;
}

#logo{
	margin-top: 50px;
	margin-bottom: 50px;
}

#login_box {
	margin:0 auto;
	width:300px;
	height:350px;
	border: 1px solid #c6c6c6;
	box-shadow: 0 5px 8px 0 rgb(68 68 68 / 4%);
	border-radius: 5px;
}



#withrawal_id_div{
	margin-top: 30px;
	
}

#withdrawal_btn{
	margin-top:50px;
	background-color:orange;
	color:white;
	border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
	width:210px;
	height:40px;
	cursor: pointer;
}
